{% extends 'base.html.twig' %}

{% block title %}Categorias index{% endblock %}

{% block body %}
    <h1>Categorias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.codigo }}</td>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.descripcion }}</td>
                <td>{{ categoria.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('categorias_show', {'id': categoria.id}) }}">show</a>
                    <a href="{{ path('categorias_edit', {'id': categoria.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorias_new') }}">Create new</a>
{% endblock %}
